/*@media (min-width: 980px) {*/
body {
  margin-top: 70px;
}
/*}*/
/* MISC */
.nospace {
  margin: 0;
  padding: 0;
}
.center {
  text-align: center;
}
.btt a.icon-circle-arrow-up {
  opacity: 0.2;
}
.btt a.icon-circle-arrow-up:hover {
  opacity: 0.4;
}
